@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --main-color: #63c6ae;
    --second-color: #242c2c;
}

/* === AVULSOS === */

body {
    padding: 0;
    border: none;
    font-family: 'Open Sans', sans-serif;
}

/* === HEADER === */

/* header {
    position: fixed;
    width: 100%;
    z-index: 1;
} */

.header_home {
    background-color: var(--main-color);
    text-transform: uppercase;
    padding: 1.25rem;
    display: flex;
    align-items: center;
    position: relative;
}

.header_home a {
    text-decoration: none;
    font-weight: 700;
    color: white;
    font-size: 2rem;
}

.btn_menu {
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    right: 2.5rem;
    color: white;
    cursor: pointer;
}

.no_js .btn_menu {
    display: none;
}

/* === HEADER > NAV === */

.js_on nav {
    height: 0;
    overflow: hidden;
    transition: all 500ms;
}

nav.open_menu {
    height: 498px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    background-color: var(--second-color);
    list-style-type: none;
    border-bottom: 1px dotted #666;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: #666;
    display: block;
    padding: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 250ms ease-in-out;
}

nav ul li a:hover {
    color: var(--main-color);
}

/* === FIRST CONTAINER === */

.fist_container {
    height: 80vh;
    background-image: linear-gradient(45deg, white 50%, transparent 50%), linear-gradient(-45deg, white 50%, transparent 50%), url(/public/assets/01.jpg);
    background-position: left calc(50% + 20px) bottom, left calc(50% - 20px) bottom, bottom left;
    background-size: 40px 40px, 40px 40px, cover;
    background-repeat: no-repeat;

    padding: 1.25rem 1.75rem 0;

    position: relative;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_first {
    color: white;
    text-transform: uppercase;
    background-color: var(--main-color);
    padding: 1.875rem;
}

.description_first {
    color: white;
    background-color: var(--second-color);
    padding: 1.5rem;
}

.button_first {
    margin-top: 1.5rem;
    color: white;
    text-transform: uppercase;
    padding: 1.5rem 2rem;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #999;
    border-radius: 0.5rem;
    outline: none;
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

.button_first:hover {
    color: var(--main-color);
    border: 1px solid var(--main-color);
    background-color: rgba(0, 0, 0, 0.6);
}

.arrow {
    display: none;
    position: absolute;
    bottom: 0;
    margin: -0.31rem;
}

/* === SECOND CONTAINER === */

.second_container {
    margin: 2.5rem 1rem ;
}

/* === SECOND CONTAINER > CARDS === */

.card_second {
    margin-top: 1.5rem;
    border: 0.375rem solid transparent;
    transition: all 200ms ease-in-out;
}

.bg_imgs_second img {
    width: 100%;
}

.profile_imgs_second {
    text-align: center;
}

.profile_imgs_second img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: 0.375rem solid white;
    margin: -3.6875rem 0 -1.25rem 0;
    transition: all 150ms ease-in-out;
}

.card_people_content {
    text-align: center;
    margin: 0 1rem;
}

.title_second h2{
    font-weight: 400;
    color: #555;
    transition: all 200ms ease-in-out;
}

.description_second p {
    font-size: 0.875rem;
    color: #777;
    transition: all 200ms ease-in-out;
}

.card_second:hover,
.card_second:hover .profile_imgs_second img {
    border: 0.375rem solid var(--main-color);
}

.card_second:hover .title_second h2, 
.card_second:hover .description_second p {
    color: var(--main-color);
}

/* === THIRD CONTAINER === */

.third_container {
    background-color: #f8f9f9;
    border-top: 1px solid #999;
    padding: 5rem 1.25rem;
}

/* === THIRD CONTAINER > FIRST CONTAINER === */

.first_content h3 {
    font-weight: 400;
    color: #555;
}

.first_content p {
    color: #777;
    font-size: 0.875rem;

}

.button_third {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1.5rem 3.5rem;
    background-color: var(--main-color);
    border: none;
    border-radius: 0.25rem;
    outline: none;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.button_third:hover {
    background-color: rgba(99, 198, 174, 0.85);
}

/* === THIRD CONTAINER > SECOND CONTAINER === */

.second_content {
    margin-top: 5rem;
}

.second_content h3 {
    font-weight: 400;
    color: #555;
}

.second_content p {
    color: #777;
    font-size: 0.875rem;
}

/* === FOURTH CONTAINER === */

.fourth_container h3 {
    background-color: var(--main-color);
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    padding: 1.25rem;
    margin: 0;
}

/* === FOURTH CONTAINER > CARDS=== */

.cards_fourth {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
}

.card_fourth img {
    display: block;
    width: 100%;
}

.card_fourth {
    position: relative;
}

.card_fourth::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.card_fourth:hover::before {
    content: "";
    position: unset;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: unset; 
}

/* === FIFTH CONTAINER === */

/* === FIFTH CONTAINER > SLIDESHOW_CONTAINER === */

.slide_show_container {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--second-color);
}

.img_slide_container {
    margin: 6rem 0;
    width: 400px;
    height: 242px;

    display: flex;
    flex-direction: row;

    overflow: hidden;
}

.img_slide_container img {
    width: 400px;
    height: 242px;
    animation: slide_notebook 10000ms ease-in-out infinite;
}

@keyframes slide_notebook {
    0%, 47%, 100% {
        transform: translateX(0);
    }

    50%, 97% {
        transform: translateX(-400px);
    }
}

.fifth_container {
    border-bottom: 1rem solid #48b9a1;
}

/* === FIFTH CONTAINER > CARDS_COMMENTS === */

.comments_container {
    padding: 3.125rem 0;
    background-color: var(--main-color);
}

.arrow_left, .arrow_right {
    display: none;
}

.cards_comments {
    display: grid;
    grid-template-columns: 1fr;
}

.card_comments:nth-child(1) {
    margin-top: 0;
}

.card_comments {
    width: 300px;
    margin: auto;
    margin-top: 1.5rem;
}

.quote {
    color: white;
    float: right;
    font-size: 3.125rem;
}

.comments {
    color: white;
    clear: both;
    font-size: 1.5rem;
    font-style: italic;
}

.author {
    color: white;
    text-align: center;
    font-size: 1rem; 
}

/* === FOOTER === */

footer {
    background-color: var(--second-color);
    padding: 4em 0;
}

footer h4 {
    text-transform: uppercase;
    color: #454e51;
    margin: 0 0.875rem;
}

.decricao_footer p {
    color: #454e51;
    margin: 1rem 0.875rem;
}

.useful_links ul {
    margin: 0;
}

.useful_links ul li {
    list-style-type: none;
    margin: 0.875rem;
    text-align: left;
    line-height: 1.5rem;
}

.useful_links ul li a {
    color: #454e51;
    text-decoration: none;
}

/* RESPONSIVE CSS */

@media screen and (min-width: 50.25rem) {
    
    /* === SECOND CONTAINER === */

    /* === SECOND CONTAINER > CARDS === */

    .cards_second {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
    }

    /* === THIRD CONTAINER === */

    .third_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
    }

    /* === THIRD CONTAINER > FIRST CONTAINER === */
    .first_content {
        position: relative;
    }
    
    .button_third {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0.875rem 0;
    }
    
    /* === THIRD CONTAINER > SECOND CONTAINER === */
    
    .second_content {
        margin-top: 0;
    }

    /* === FOURTH CONTAINER === */

    /* === FOURTH CONTAINER > CARDS=== */

    .cards_fourth {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* === FIFTH CONTAINER === */

    /* === FIFTH CONTAINER > SLIDESHOW_CONTAINER === */

    .img_slide_container {
        width: 700px;
        height: 446px;
    }

    .img_slide_container img {
        width: 700px;
        height: 446px;
    }

    @keyframes slide_notebook {
        0%, 47%, 100% {
            transform: translateX(0);
        }

        50%, 97% {
            transform: translateX(-700px);
        }
    }

    /* === FIFTH CONTAINER > CARDS_COMMENTS === */

    .cards_comments {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card_comments {
        margin-top: 0;
    }

    /* === FOOTER === */

     footer {
        padding: 4rem 8rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .decricao_footer p {
        margin: 0 0.875rem 1rem;
    }

    .useful_links ul {
        padding: 0;
        margin: 0;
    }

    .useful_links ul li {
        margin: 0;
        text-align: center;
    }

    .useful_links ul li a {
        display: block;
        padding: 1rem 2rem;
    }

}

@media screen and (min-width: 62.5rem) {
    /* === FOURTH CONTAINER === */

    /* === FOURTH CONTAINER > CARDS=== */

    .cards_fourth {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    /* === FIFTH CONTAINER === */

    /* === FIFTH CONTAINER > SLIDESHOW_CONTAINER === */

    .img_slide_container {
        width: 830px;
        height: 503px;
    }

    .img_slide_container img {
        width: 830px;
        height: 503px;
    }

    @keyframes slide_notebook {
        0%, 47%, 100% {
            transform: translateX(0);
        }

        50%, 97% {
            transform: translateX(-830px);
        }
    }
}

@media screen and (min-width:74rem) {
    /* === HEADER > NAV === */

    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    nav.open_menu {
        height: 83px;
    }

    /* === SECOND CONTAINER === */

    /* === SECOND CONTAINER > CARDS === */

    .cards_second {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0 6rem;
    }

    /* === SECOND CONTAINER > CARDS === */

    .title_second h2{
        font-size: 1.75rem;
    }

    .description_second p {
        font-size: 1rem;
    }

    /* === THIRD CONTAINER === */

    .third_container {
        padding: 5rem 6rem;
        gap: 1.5rem;
        box-sizing: border-box;
    }

    .first_content, .second_content {
        max-width: 52rem;
        margin: 0 auto;
        
    }

    /* === FOURTH CONTAINER === */

    /* === FOURTH CONTAINER > CARDS=== */

    .cards_fourth {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    /* === FIFTH CONTAINER === */

    /* === FIFTH CONTAINER > CARDS_COMMENTS === */

    .cards_comments {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card_comments {
        max-width: 18.75rem;
        margin: 0 auto;
    }

    /* === FIFTH CONTAINER > CARDS_COMMENTS(JS_ON) === */

    .js_on .comments_container {
        height: 550px;
        padding: 3.125rem 0;
        background-color: var(--main-color);
        position: relative;
    }

    .js_on .arrow_left,
    .js_on .arrow_right {
        background-color: transparent;
        border: none;
        height: 115px;
        width: 115px;
        padding: 0;
        outline: none;
        display: inline;
        position: absolute;
        top: 50%;
    }

    .js_on .arrow_left {
        transform: translate(50%, -50%);
    }

    .js_on .arrow_right {
        right: 0;
        transform: translate(-50%, -50%);
    }

    .js_on .arrow_left span, 
    .js_on .arrow_right span {
        font-size: 115px;
        color: white;
    }

    .js_on .cards_comments {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .js_on .card_comments:nth-child(1),
    .js_on .card_comments:nth-child(2),
    .js_on .card_comments:nth-child(3),
    .js_on .card_comments:nth-child(4),
    .js_on .card_comments:nth-child(5),
    .js_on .card_comments:nth-child(6) {
        display: none;
        opacity: 0;
    }

    .js_on .card_comments.show {
        display: block;
        animation: show 800ms linear forwards;
    }

    @keyframes show {
        0% {
            display: none;
            opacity: 0;
        }

        1% {
            display: block;
            opacity: 0;
        }

        100% {
            display: block;
            opacity: 1;
        }
    }



    /* .card_comments:nth-child(2),
    .card_comments:nth-child(3),
    .card_comments:nth-child(4),
    .card_comments:nth-child(5),
    .card_comments:nth-child(6) {
        display: none;
    } */
}